.container {
    width: 100%;
}

header {
    background-color: #4aaaa5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    align-content: center;
    margin: auto;
    color: white;
    padding-top: 35px;
    padding-left: 35%;
    padding-bottom: 20px;
}

#navbar {
    float: right;
}

#background {
    background-image: url("spiration-light.png");
    float: clear;
    margin: auto;
    width: 70%;
    height: 600px
}
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#white-box {
    position: absolute;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 5%;
    float: center
}

#about-me {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    position: relative;
    padding: 5%;
    float: right;
    width: 80%;
    height: 350px;
    background-color: white;
    text-align: block;
}

#me {
    position: relative;
    float: left;
    margin: 2%;
}
